/* Baisc style for all pages */

html {
    font-family: Cambria, "Arial Narrow", Calibri, sans-serif;
}

body {
    background-color: #E4F0F8;
    color: #00467F;
}

/* Style for navigation bar */

.topnav {
    background-color: #0093D0;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #59B9E0;
    color: black;
}
  
.topnav a.active {
    background-color: #00467F;
    color: white;
}

/* Style for the publications page */

.articles {
    align-items: center;     
    justify-content: center;  
    padding: 20px;     
}

#articleList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;     
    justify-content: center;  
    padding: 0;
    margin: 0;
}

#articleList li{
    flex-direction: column;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 29vw;
}

.articleEntry{
    height: 50vh;
}

.articles img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img-container {
    position: relative;
    display: inline-block; 
    width: 27vw;  
    height: auto;
}

.img-container img {
    display: block; 
    width: 100%;
    height: 30vh; 
}

.bullet-points {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(255, 255, 255, 0.913);
    color: black;
    overflow-y: auto; 
    padding: 0px;
    list-style-type: none;
    justify-content: center;    
    align-items: center;      
}

.bullet-points ul {
    display: none;
}

.img-container:hover .bullet-points {
    display: block; /* Show bullet points on hover */
}

.citation {
    margin-top: auto;
    text-align: right;
}

#search {
    display: flex;
    justify-content: center;  
    margin-top: 20px; 
    border-color: #00467F;
}

#searchInput {
    width: 50%;  
    padding: 10px;  
    font-size: 16px; 
}

#banner {
    width: 100vw; 
    height: 25vh; 
    max-height: 100vh;
    object-fit: fill; 
    margin: 0;
    padding: 0;
    border: none;
}

/* Style for the about page */

.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.contact-info h3, .contact-info p {
    margin-top: 0;
    margin-bottom: 5vh;
}

.person {
    width: 20vw;
    height: auto;
}

.card-image {
    width: 20vw; 
}

.flip-card {
    width: 15vw;
    height: 15vh;
    position: relative;
    transition: transform 1.0s;
    transform-style: preserve-3d; 
    cursor: pointer;
    margin-bottom: 10vw;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;  /* Hides the back face when not visible */
}

.flip-card-back {
    background-color: #E4F0F8;
    color: #00467F;
    transform: rotateY(180deg);  /* Initially, the back is rotated 180 degrees */
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw; 
}

/* When the card is flipped, rotate it */
.flip-card.flipped {
    transform: rotateY(180deg);
}