/* Basic style for all pages */

html {
    font-family: Cambria, "Arial Narrow", Calibri, sans-serif;
}

body {
    background-color: #E4F0F8;
    color: #00467F;
}

/* Style for navigation bar */

.topnav {
    background-color: #0093D0;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #59B9E0;
    color: black;
}
  
.topnav a.active {
    background-color: #00467F;
    color: white;
}

/* Style for the publications page */

.articles {
    align-items: center;     
    justify-content: center;  
    padding: 20px;     
}

#articleList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;     
    justify-content: center;  
    padding: 0;
    margin: 0;
}

#articleList li{
    flex-direction: column;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 29vw;
}


.articleEntry {
   height: 50vh; 

   overflow: auto;
}

.articles img {
    height: auto;
    border-radius: 10px;
    max-width: 100%;
}

.img-container {
    position: relative;
    display: inline-block; 
    width: 27vw;  
    height: auto;
}

.img-container img {
    display: block; 
    width: 100%;
    height: 30vh; 
}

.bullet-points {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(255, 255, 255, 0.913);
    color: black;
    overflow-y: auto; 
    padding: 0px;
    list-style-type: none;
    justify-content: center;    
    align-items: center;      
}

.bullet-points ul {
    display: none;
}

.img-container:hover .bullet-points {
    display: block; /* Show bullet points on hover */
}

.citation {
    margin-top: auto;
    text-align: right;
}

#search {
    display: flex;
    justify-content: center;  
    margin-top: 20px; 
    border-color: #00467F;
}

#searchInput {
    width: 50%;  
    padding: 10px;  
    font-size: 16px; 
}

#banner {
    width: 100vw; 
    height: 25vh; 
    max-height: 100vh;
    object-fit: fill; 
    margin: 0;
    padding: 0;
    border: none;
}

/* Scaling for small screens */
@media only screen and (max-width: 800px) {
    .topnav a {
        font-size: 14px;
    }

    #articleList li {
        width: 60%; 
    }

    #searchInput {
        width: 90%;
    }

    .img-container {
        width: 100%;
    }

    #articleList .bullet-points li {
        width: 100%; 
    }

    .bio {
        flex-direction: column;
        width: 100%; 
    }

    .flip-card {
        width: 80vw;
        height: 25vh;
    }

    .flip-card-back {
        font-size: 3vw; 
    }
}


/* Style for the about page */

.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.contact-info h3, .contact-info p {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.person {
    width: 20vw;
    height: auto;
}

.card-image {
    width: 20vw; 
}

.flip-card {
    width: 15vw;
    height: 15vh;
    position: relative;
    transition: transform 1.0s;
    transform-style: preserve-3d; 
    cursor: pointer;
    margin-bottom: 10vw;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;  /* Hides the back face when not visible */
}

.flip-card-back {
    background-color: #E4F0F8;
    color: #00467F;
    transform: rotateY(180deg);  /* Initially, the back is rotated 180 degrees */
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2vw; 
}

/* When the card is flipped, rotate it */
.flip-card.flipped {
    transform: rotateY(180deg);
}

/* Style for the timeline page */

#timeline {
    display: flex; /* Use Flexbox to align items in a row */
    flex-wrap: nowrap; /* Wrap items to the next line if they don't fit */
    justify-content: space-between; /* Optional: Adds space between items */
    padding: 0;
    list-style-type: none; /* Remove bullet points */
    overflow-x: auto;
}

/* Style for each timeline entry */
#timeline li.timelineEntry {
    flex: 0 0 auto; /* Makes each entry take up 20% of the container width */
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd; /* Optional: Adds a border around each entry */
    background-color: #f9f9f9; /* Optional: Background color */
    text-align: center;
    width: 300px;
}

/* Optional: Style for the year heading */
#timeline li.timelineEntry h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

#currentEntryNav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%; /* Control the width of the entire container */
    padding: 20px;
    box-sizing: border-box;
}

#currentEntry-container {
    display: flex;
    flex: 1; /* Takes up the remaining space between the buttons */
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
    height: 35vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
    border-radius: 8px;  
    margin: 0 20px; /* Add margin to separate the buttons */
    padding: 10px;
}

#image {
    border-radius: 8px;  
}

#backButton, #nextButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0093D0;
    color: white;
    border: none;
    border-radius: 5px;
}

#backButton:hover, #nextButton:hover {
    background-color: #0056b3; /* Darken the button on hover */
}

#upper-timeline {
    height: 40vh;
    background-color: white;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
    border-radius: 8px;      /* Optional: Rounded corners */
    margin-left: 5vw;
    margin-right: 5vw;
}

#years-line ul {
    list-style-type: none;  /* Remove bullet points */
    display: flex;          /* Align items in a row */
    gap: 15px;              /* Optional: Add spacing between items */
    padding: 0;             /* Remove default padding */
    margin: 0;              /* Remove default margin */
}

#years-line li {
    padding: 5px 10px;         /* Optional: Add padding around each item */
    cursor: pointer;           /* Optional: Pointer cursor */  
}

#years-line {
    display: flex;
    align-items: flex-end;
}

#flags-container {
    display: flex;
}

.flag {
    display: flex;            
    gap: 1px;                
    align-items: flex-start;
    margin-left: 5px;
    position: relative;
}

.flag-content {
    display: flex; /* Align the image and text side by side */
    align-items: center; /* Vertically align image and text */
    background-color: #E4F0F8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
    z-index: 2;  
}


.flag-image {
    width: 40px; 
    height: 40px;
    margin-right: 8px;
}

/* .flag-text {
    background-color: #E4F0F8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 5px;
    border-radius: 4px;
    z-index: 2;       
} */

.flag-image:hover {
    width: 100px;
    height: 100px;
    margin-right: 8px; 
    transition: all 0.5s ease; 
}


.vertical-line {
    width: 1px;                  /* Width of the line */
    height: 23vh;               /* Height of the line */
    background-color: #00467F;      /* Color of the line */
    z-index: 1;  
}

#flags-container {
    /* old */
    /* display: flex;
    align-items: flex-start; 
    flex-wrap: nowrap;  */

    /* new */
    position: relative; 
    display: flex; 
    width: max-content;
    cursor: grab;
}

#flags-container:active {
    cursor: grabbing;
}

.flags {
    position: absolute;         /* Enable absolute positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;  
    /* align-items: flex-start; */
}

.flag-content:hover {
    background-color: #c8dfec;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
    padding: 5px;
    transition: all 0.3s ease; 
}
/* 
#year-2002 {
    margin-left: 55px
}
#line-2002 {
    margin-top: 18px;    
    height: 175px          
}

#year-2004 {
    margin-left: 160px
}
#line-2004 {
    margin-top: 18px;    
    height: 175px          
}

#year-2006 {
    margin-left: 300px;
}
#text-2006 {
    margin-top: 50px;
}
#line-2006 {
    margin-top: 50px;    
    height: 144px          
}

#year-2008 {
    margin-left: 450px;
}
#line-2008 {
    margin-top: 18px;    
    height: 175px          
}

#year-2011 {
    margin-left: 625px;
}
#line-2011 {
    margin-top: 18px;    
    height: 175px          
}

#year-2014-1 {
    margin-left: 820px;
}
#line-2014-1 {
    margin-top: 18px;    
    height: 175px              
}

#year-2014-2 {
    margin-left: 835px;
}
#line-2014-2 {
    margin-top: 50px;    
    height: 144px              
}
#text-2014-2 {
    margin-top: 50px;
}

#year-2018 {
    margin-left: 1070px;
}
#line-2018 {
    margin-top: 18px;    
    height: 175px          
} */


#lower-timeline {
    height: 30vh;
    width: 90vw;
    background-color: white;
    overflow-x: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
    border-radius: 8px;      /* Optional: Rounded corners */
    margin-left: 5vw;
    margin-right: 5vw;
}


.year-list {
    position: relative;  
    margin-top: 30px;    
}


#timeline-wrapper {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 14vw;
}

#timeline-container {
    display: flex;
    transform-origin: left;
    transition: transform 0.3s ease;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Default spacing between years */
    transition: margin 0.3s ease; /* Smooth margin changes */
}

.flag {
    transition: margin 0.3s ease; /* Smooth margin changes */
}

.month {
    font-size: 0.8rem;
    /* visibility: hidden;  */
    
}

.months {
    display: none;
    gap: 10px; /* Optional: add some space between each month */
}

.label {
    font-weight: bold;
}

.details {
    margin-top: 10px;
}

.details.months {
    gap: 10px;
    margin-top: -10px; /* Adjusts positioning to be closer to the year */
    margin-left: 40px;
}

.month {
    font-size: 0.8em;
    color: gray;
}
