/* Basic style for all pages */

html {
    font-family: Cambria, "Arial Narrow", Calibri, sans-serif;
}

body {
    background-color: #E4F0F8;
    color: #00467F;
}

h1 {
    text-align: center;
}

/* Style for navigation bar */

.topnav {
    background-color: #0093D0;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #59B9E0;
    color: black;
}
  
.topnav a.active {
    background-color: #00467F;
    color: white;
}

/* Glossy Page */

/* Container with flexbox */
#glossy-list {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 20px; /* Add spacing between images */
    justify-content: flex-end;
    margin: 60px;

}

/* Align one image to the right */
.flex-container img:last-child {
    margin-left: auto; /* Push the last image to the right */
}

/* Target the images using their class */
.glossy-picture {
    width: 800px; /* Set the width */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Optional: Add spacing between images */
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.glossy-picture:hover {
    width: 850px;
    height: auto;
}

.right {
    margin-left: auto; /* Push the last image to the right */
}

.image-link {
    display: flex; /* Enable flexbox inside the anchor tag */
    justify-content: flex-start; /* Align images by default to the left */
}

#map { height: 400px; }

.hidden {
    display: none;
}

#florida_images {
    display: hidden;  
    justify-content: space-around;
    gap: 20px;  
    transition: display 4s;
}

#flowergarden_images {
    display: hidden;  
    justify-content: space-around;
    gap: 20px;  
    transition: display 4s;
}

#puertorico_images {
    display: hidden;  
    justify-content: space-around;
    gap: 20px;  
    transition: display 4s;
}

#virginislands_images {
    display: hidden;  
    justify-content: space-around;
    gap: 20px;  
    transition: display 4s;
}

.reportMedia {
    height: 400px;
    width: auto;
}

.report-section {
    display: flex;
    flex-direction: column;  /* Stack the h2 title and the report content vertically */
    align-items: center;  /* Center the items horizontally */
    width: 45%;  /* Adjust the width of each report section */
}

.reports {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents images from wrapping */
    padding-bottom: 10px; /* Prevents scrollbar from covering images */
    scroll-snap-type: x mandatory; /* Smooth scrolling effect */
    gap: 20px;
    width: 100%;  /* Adjust width to control the size of each report section */
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}
p {
    text-align: center;
    background-color: #eff4f7;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#map {
    background-color: #eff4f7;
    padding: 10px;
    border: white;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.status {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100%;            
    width: 100%;        
}

#national_images {
    display: hidden;
    justify-content: center;  /* Centers vertically */
}