/* Basic style for all pages */

html {
    font-family: Cambria, "Arial Narrow", Calibri, sans-serif;
}

body {
    background-color: #E4F0F8;
    color: #00467F;
}

h1 {
    text-align: center;
}

/* Style for navigation bar */

.topnav {
    background-color: #0093D0;
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #59B9E0;
    color: black;
}
  
.topnav a.active {
    background-color: #00467F;
    color: white;
}

/* Glossy Page */

#glossy-list {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    justify-content: flex-end;
    margin: 60px;

}

.flex-container img:last-child {
    margin-left: auto; 
}

.glossy-picture {
    width: 800px;
    height: auto; 
    margin: 10px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.glossy-picture:hover {
    width: 850px;
    height: auto;
}

.right {
    margin-left: auto;
}

.image-link {
    display: flex; 
    justify-content: flex-start; 
}

#map { height: 400px; }

.hidden {
    display: none;
}

#florida_images {
    display: hidden;  
    justify-content: space-around;
    gap: 20px;  
    transition: display 4s;
}

#flowergarden_images {
    display: hidden;  
    justify-content: space-around;
    gap: 20px;  
    transition: display 4s;
}

#puertorico_images {
    display: hidden;  
    justify-content: space-around;
    gap: 20px;  
    transition: display 4s;
}

#virginislands_images {
    display: hidden;  
    justify-content: space-around;
    gap: 20px;  
    transition: display 4s;
}

.reportMedia {
    height: 400px;
    width: auto;
}

.report-section {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    width: 45%;  
}

.reports {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
    gap: 20px;
    width: 100%; 
}

.reports img:hover {
    filter: brightness(90%);
    transition: filter 0.3s ease;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}
p {
    text-align: center;
    background-color: #eff4f7;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#map {
    background-color: #eff4f7;
    padding: 10px;
    border: white;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.status {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100%;            
    width: 100%;        
}

.status img:hover {
    filter: brightness(90%);
    transition: filter 0.3s ease;
}

#national_images {
    display: hidden;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    #glossy-list {
        display: flex;
        flex-direction: column; 
        gap: 20px;
        justify-content: flex-end;
        margin: 60px;
    
    }
    
    /* Align one image to the right */
    .flex-container img:last-child {
        margin-left: auto; 
    }
    
    /* Target the images using their class */
    .glossy-picture {
        width: 80vw; 
        height: auto; 
        margin: 10px; 
        display: block;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }
    
    .glossy-picture:hover {
        width: 82vw;
        height: auto;
    }
    
    .reportMedia {
        height: 200px;
        width: auto;
    }
    
    .report-section {
        display: flex;
        flex-direction: column;  
        align-items: center;  
        width: 45%; 
    }
    
    .reports {
        display: flex;
        overflow-x: auto; 
        white-space: nowrap; 
        padding-bottom: 10px; 
        scroll-snap-type: x mandatory; 
        gap: 20px;
        width: 100%;
    }
    
}